* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.gridItem {
    border: solid black 1px;
    flex: 1;
    height: 100%;
    min-width: 10px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    height: 75%;
    width: 75%;
    align-self: center;
    min-width: 200px;
}

.gridRow {
    display: flex;
    flex: 1;
}

.mousedOver {
    background-color: black;
}

button {
    width: 10%;
    align-self: center;
    min-width: min-content;
    margin: 20px;
    padding: 10px 1px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}